upstream chatapplication {
  ip_hash;
  server chatapplication:8000;
}

# portal
server {
  location / {
        proxy_pass http://chatapplication/;
    }
  listen 80;
  server_name 13.232.147.168;

#  location /static {    
#    autoindex on;    
#    alias /srv/chatapplication/static/;    
#  }
}

